$font: 'Lato', sans-serif;

$primary: #79c7c5;
$secondary: #a1e2d9;
$white: #f9fbff;
$dark: #777777;

.call-wrapper {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;

  .call-window {
    position: relative;
    background: linear-gradient(to bottom left, $primary 40%, $white 100%);
    font-family: $font;

    #local-video {
      position: absolute;
      bottom: 0px;
      right: 0px;
      width: 150px;
    }

    #remote-video {
      max-width: 100%;
      width: 900px;
      display: block;
    }

    .call-menu {
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      z-index: 2;
    }

    .call-button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 35px;
      height: 35px;
      background: rgba(255, 255, 255, 0.5);
      margin: 0 10px;
      border: none;
      border-radius: 50%;
      padding: 0px;
      cursor: pointer;
      transition: 0.5s ease;

      &.button_end {
        background: #f44336;
        color: #fff;
      }

      &.active {
        background: #79c7c5;
        color: #fff;
      }
    }
  }
}

.call-offer {
  background: #ceebea;
  font-family: $font;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  z-index: 2;

  .offer-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    .offer-button {
      padding: 15px 20px;
      font-size: 1rem;
      display: flex;
      align-items: center;
      color: #fff;
      border: none;
      cursor: pointer;

      &.accept {
        background: #00a152;
        margin-right: 20px;
      }

      &.decline {
        background: #f44336;
      }
    }
  }
}
